<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>CodaScriptPlugIn</string>
	<key>CFBundleIconFile</key>
	<string>plug-in</string>
	<key>CFBundleIdentifier</key>
	<string>com.panic.CodaScriptPlugIn</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.1</string>
	<key>CodaPlugInMinimumAPIVersion</key>
	<string>3</string>
	<key>NSPrincipalClass</key>
	<string>CodaScriptPlugIn</string>
	<key>commands</key>
	<array>
		<dict>
			<key>fallbackInput</key>
			<string>none</string>
			<key>input</key>
			<string>document</string>
			<key>keyEquivalent</key>
			<string></string>
			<key>keyEquivalentConflict</key>
			<true/>
			<key>name</key>
			<string>Annotate/Blame/Comment Line</string>
			<key>output</key>
			<string>showAsTooltip</string>
			<key>script</key>
			<string>script</string>
			<key>uuid</key>
			<string>67262491-0033-4FF6-9AB7-46187500012D</string>
		</dict>
		<dict>
			<key>input</key>
			<string>selection</string>
			<key>keyEquivalent</key>
			<string></string>
			<key>keyEquivalentConflict</key>
			<true/>
			<key>name</key>
			<string>Add to multifile Gist</string>
			<key>output</key>
			<string>showAsTooltip</string>
			<key>script</key>
			<string>script</string>
			<key>uuid</key>
			<string>51A5A6E5-7A54-4C4E-A315-02247461D9D4</string>
		</dict>
		<dict>
			<key>input</key>
			<string>selection</string>
			<key>keyEquivalent</key>
			<string>~^g</string>
			<key>keyEquivalentConflict</key>
			<true/>
			<key>name</key>
			<string>Create private Gist from Selection</string>
			<key>output</key>
			<string>showAsTooltip</string>
			<key>script</key>
			<string>script</string>
			<key>uuid</key>
			<string>4F4468C5-5CF8-4272-B87C-7CF1A56B1710</string>
		</dict>
		<dict>
			<key>input</key>
			<string>selection</string>
			<key>keyEquivalent</key>
			<string>^g</string>
			<key>keyEquivalentConflict</key>
			<true/>
			<key>name</key>
			<string>Create Gist from Selection</string>
			<key>output</key>
			<string>showAsTooltip</string>
			<key>script</key>
			<string>script</string>
			<key>uuid</key>
			<string>4D3B092F-0ABC-4152-923B-99D0B94B46B9</string>
		</dict>
		<dict>
			<key>input</key>
			<string>selection</string>
			<key>keyEquivalent</key>
			<string></string>
			<key>keyEquivalentConflict</key>
			<true/>
			<key>name</key>
			<string>Send private multifile Gist</string>
			<key>output</key>
			<string>showAsTooltip</string>
			<key>script</key>
			<string>script</string>
			<key>uuid</key>
			<string>C8E0241B-0139-4DA0-A077-E1396148A1F9</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>none</string>
			<key>input</key>
			<string>document</string>
			<key>keyEquivalent</key>
			<string></string>
			<key>keyEquivalentConflict</key>
			<true/>
			<key>name</key>
			<string>Show in GitHub</string>
			<key>output</key>
			<string>showAsTooltip</string>
			<key>script</key>
			<string>script</string>
			<key>uuid</key>
			<string>DC4D5C6F-80DA-4FDF-815F-EEF68C1FC3E9</string>
		</dict>
		<dict>
			<key>input</key>
			<string>selection</string>
			<key>keyEquivalent</key>
			<string></string>
			<key>keyEquivalentConflict</key>
			<true/>
			<key>name</key>
			<string>Send multifile Gist</string>
			<key>output</key>
			<string>showAsTooltip</string>
			<key>script</key>
			<string>script</string>
			<key>uuid</key>
			<string>C5646D06-0BE2-49EA-B672-B34F56F880EB</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>none</string>
			<key>input</key>
			<string>document</string>
			<key>keyEquivalent</key>
			<string></string>
			<key>keyEquivalentConflict</key>
			<true/>
			<key>name</key>
			<string>Show Network in GitHub</string>
			<key>output</key>
			<string>showAsTooltip</string>
			<key>script</key>
			<string>script</string>
			<key>uuid</key>
			<string>452D34DC-9122-4196-9BB1-BA571D21A8BB</string>
		</dict>
	</array>
</dict>
</plist>
